<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`./partials/head.ejs`) %>
  <body>
    <%- include(`./partials/nav.ejs`) %>
    <div class = "filter">
      <form action ="/smite_compendium/warriors" method="GET">
        <input type="radio" id="Assassin" name="Class" value="Assassin"><p class = "filter">ASSASSIN</p></input>
        <input type="radio" id="Mage" name="Class" value="Mage"><p class = "filter">MAGE</p></input>
        <input type="radio" id="Hunter" name="Class" value="Hunter"><p class = "filter">HUNTER</p></input>
        <input type="radio" id="Warrior" name="Class" value="Warrior"><p class = "filter">WARRIOR</p></input>
        <input type="radio" id="Guardian" name="Class" value="Guardian"><p class = "filter">GUARDIAN</p></input>
      </form>
    </div>
    <center><h1>SMITE COMPENDIUM</h1></center>
    <div class ="container-fluid">
      <% for (let i=0; i<=god.length-1; i++) { %>
        <a href="smite_compendium/<%=god[i].id%>"><img src="<%=god[i].img%>" alt="no img shown"></a>
      <% } %>
    </div>
  </body>
</html>
