<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`./partials/head.ejs`) %>
  <body>
    <center><h1>SMITE COMPENDIUM</h1></center>
      <h2><%=god.name%></h2>
      <img class = "icon" src="<%=god.img%>" alt="God Icon">
  </body>
</html>
