<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`./partials/head.ejs`) %>
  <body>
      <%- include(`./partials/nav.ejs`) %>
    <div class = "filter">
      <form action ="/warriors" method="GET">
        <input type="submit" id="Warrior" name="Class" value="Warriors"></input>
      </form>
      <form action ="/assassins" method="GET">
        <input type="submit" id="Assassins" name="Class" value="Assassins"></input>
      </form>
      <form action ="/mages" method="GET">
        <input type="submit" id="Mages" name="Class" value="Mages"></input>
      </form>
      <form action ="/guardians" method="GET">
        <input type="submit" id="Guardian" name="Class" value="Guardians"></input>
      </form>
      <form action ="/hunters" method="GET">
        <input type="submit" id="Hunter" name="Class" value="Hunters"></input>
      </form>
    </div>
    <center><h1>SMITE COMPENDIUM</h1></center>
    <div class ="container-fluid">
      <% for (let i=0; i<=god.length-1; i++) { %>
        <a href="smite_compendium/<%=god[i].id%>"><img src="<%=god[i].img%>" alt="no img shown"></a>
      <% } %>
    </div>
  </body>
</html>
