<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`./partials/head.ejs`) %>
  <body>
    <%- include(`./partials/nav.ejs`) %>
    <h1>Create God</h1>
      <form action="/smite_compendium" method="POST">
        <div class = "container-fluid">
          Name: <input type="text" name="name" />
          Icon: <input type="text" name="img" />
          Card1: <input type="text" name="skins" />
          Card2: <input type="text" name="skins" />
          Card3: <input type="text" name="skins" />
          Title: <input type="text" name="title" />
          Type:  <input type="text" name="type" />
          Class: <input type="text" name="class" />
          Lore: <input type="text" name="lore" />
          Pantheon: <input type="text" name="pantheon" />
        </div>
        <div class = "new">
          Ability 1 Name: <input type="text" name="abilities[0].abilityName" />
          Ability 1 Type: <input type="text" name="abilities[0].abilityType" />
          Ability 1 Description: <input type="text" name="abilities[0].abilityDescription" />
          Ability 1 Effect: <input type="text" name="abilities[0].abilityEffect1" />
          Ability 1 Effect: <input type="text" name="abilities[0].abilityEffect2" />
          Ability 1 Effect: <input type="text" name="abilities[0].abilityEffect3" />
          Ability 1 Effect: <input type="text" name="abilities[0].abilityEffect4" />
          Ability 1 Cost: <input type="text" name="abilities[0].abilityCost" />
          Ability 1 Cooldown: <input type="text" name="abilities[0].abilityCooldown" />
        </div>
        <div class = "new">
          Ability 2 Name: <input type="text" name="abilities[1].abilityName" />
          Ability 2 Type: <input type="text" name="abilities[1].abilityType" />
          Ability 2 Description: <input type="text" name="abilities[1].abilityDescription" />
          Ability 2 Effect: <input type="text" name="abilities[1].abilityEffect1" />
          Ability 2 Effect: <input type="text" name="abilities[1].abilityEffect2" />
          Ability 2 Effect: <input type="text" name="abilities[1].abilityEffect3" />
          Ability 2 Effect: <input type="text" name="abilities[1].abilityEffect4" />
          Ability 2 Cost: <input type="text" name="abilities[1].abilityCost" />
          Ability 2 Cooldown: <input type="text" name="abilities[1].abilityCooldown" />
        </div>
        <div class = "new">
          Ability 3 Name: <input type="text" name="abilities[2].abilityName" />
          Ability 3 Type: <input type="text" name="abilities[2].abilityType" />
          Ability 3 Description: <input type="text" name="abilities[2].abilityDescription" />
          Ability 3 Effect: <input type="text" name="abilities[2].abilityEffect1" />
          Ability 3 Effect: <input type="text" name="abilities[2].abilityEffect2" />
          Ability 3 Effect: <input type="text" name="abilities[2].abilityEffect3" />
          Ability 3 Effect: <input type="text" name="abilities[2].abilityEffect4" />
          Ability 3 Cost: <input type="text" name="abilities[2].abilityCost" />
          Ability 3 Cooldown: <input type="text" name="abilities[2].abilityCooldown" />
        </div>
        <div class = "new">
          Ability 4 Name: <input type="text" name="abilities[3].abilityName" />
          Ability 4 Type: <input type="text" name="abilities[3].abilityType" />
          Ability 4 Description: <input type="text" name="abilities[3].abilityDescription" />
          Ability 4 Effect: <input type="text" name="abilities[3].abilityEffect1" />
          Ability 4 Effect: <input type="text" name="abilities[3].abilityEffect2" />
          Ability 4 Effect: <input type="text" name="abilities[3].abilityEffect3" />
          Ability 4 Effect: <input type="text" name="abilities[3].abilityEffect4" />
          Ability 4 Cost: <input type="text" name="abilities[3].abilityCost" />
          Ability 4 Cooldown: <input type="text"  name="abilities[3].abilityCooldown" />
        </div>
        <div class = "new">
          Passive Name: <input type="text" name="passive[0].passiveName" />
          Passive Description: <input type="text" name="passive[0].passiveDescription" />
        </div>
        <input type="submit" value="Create God" />
      </form>
  </body>
</html>
