body {
  background-color: darkblue;
}

h1 {
  color: yellow;
}

h2 {
  color: yellow;
}

h3 {
  color: yellow;
}

h4 {
  color: yellow;
}

p {
  color: yellow;
}

div {
  text-align: center;
}

tr, td, th {
  border: 2px solid black;
  color: yellow;
  text-align: left;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
}

div.filter {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#skin-carousel {
  display: inline-block;
  margin-left: 5%;
}

table {
  margin: 2%;
  width: 50vw;
}


form {
  color: yellow;
}

a.navlink {
  text-decoration: none;
  font-size: 2em;
  color: yellow;
}

img.carousel {
  display: none;
}
