body {
  background-color: darkblue;
}

h1 {
  color: yellow;
}

h2 {
  color: yellow;
}

h3 {
  color: yellow;
}

h4 {
  color: yellow;
}

p {
  color: yellow;
}


tr, td, th {
  border: 2px solid darkblue;
  color: yellow;
  text-align: left;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
}

div.filter {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

table {
  margin: 5%;
  width: 50vw;
}


form {
  color: yellow;
}

a.navlink {
  text-decoration: none;
  font-size: 2em;
  color: yellow;
}
